@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Roboto:wght@100&display=swap');
*
{
    margin:30;
    width: 30;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
body
{
    height: 100vh;
    width: 100px;
    text-align: center;
    background-color: lightblue;

}
form
{
    height: 35rem;
    width: 28rem;
    flex-direction: column;
    display: flex;
    box-shadow: 0 8px 32px 0 rgba(72, 121, 235, 0.733);
    border-radius: 30px;

}
h3
{
color: gray;
}

button
{
    background-color: green;
}
.Cancel
{
    background-color: red;
}